absl-py
appdirs
astor
backports.weakref
bleach
botocore
certifi
chardet
docutils
enum34
funcsigs
futures
gast
grpcio
html5lib
idna
jmespath
Keras
Markdown
mock
nltk
numpy
packaging
pbr
protobuf
pyparsing
python-dateutil
PyYAML
requests
s3transfer
scipy
six
tensorboard
tensorflow
termcolor
textblob
Unidecode
urllib3
Werkzeug
